
@{
    ViewData["Title"] = "ErrorNotLogedIn";
}

<div class="row">
    <div class="col-md-12">
        <h2>Error: you are not Loged In</h2>
    </div>
</div>

<div class="row mt-5">
    <div class="col-md-8">
        <div>
            <p>You have to be loged-in to access that area.</p>

            <p><a asp-controller="Home" asp-action="Index">Back to Login</a></p>
        </div>
    </div>
</div>